@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css')
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.display{
    display: flex;
}

.Header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #004A8F;
    height: 20vh;
}

.Header > div{
    display: flex;
    gap: 60px;
    padding: 0px 80px 0px 80px;

}

.icons{
    width: 40px;
}

.Header > div > img{
    width: 165px;
}