**/node_modules/
**/dist
**/__pycache__/
**/build

data.db

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific files
lib
src/backend/supabase_images/20230623003158_j.jpeg
src/backend/supabase_images/20230623003237_j.jpeg
